{% extends "ArmdAdminBundle:CRUD:base_list.html.twig" %}

{% block actions %}
    <div class="sonata-actions-edit">
        <ul>
                <li class="sae-element"><a href="http://ws-platform.dev.armd.ru/logform.html">Журнал обращений к репозиторию</a></li>
        </ul>
    </div>
{% endblock %}
