{% import defaults.macros ~ '/common.html.twig' as common %}
{% import defaults.macros ~ '/tabs.html.twig' as tabs %}
{% import defaults.macros ~ '/table.html.twig' as table %}

{% set tabsItems = [{'title': common.iconItem({'title': 'Избранное', 'class': 'favorites'}), 'selected': 'true'}] %}

{% set tabsContent %}
    {% set content %}
        {% if favorites %}
            {% for favorite in favorites %}
                {% set label = favorite.label|trans() %}
                {% set head = [{'title': label, 'width': 200}, {'width': 200}, {'width': 180}] %}
                {% set body = [[label,
                                common.iconItem({'title': 'Добавить новый', 'url': favorite.create, 'class': 'addNew'}),
                                common.iconItem({'title': 'Список', 		 'url': favorite.list, 'class': 'list'}) ]] %}
				{% set 	fav = favorite.serviceId %}		
				
                {{ table.createTableMain(head, body, {'last': false}, fav) }}
            {% endfor %}
        {% endif %}
    {% endset %}

    {{ tabs.content(content, {'index': 1, 'selected': true}) }}
{% endset %}

{% set block %}
    {{ tabs.create(tabsItems, tabsContent) }}
{% endset %}

{% block content %}
	{{ common.block(block, {'class': 'span8'}) }}
	<div class="clear"></div>
{% endblock %}