.content {
	min-width:1000px;
}
.clear {
    clear: both;
}

.body {
    margin: 20px 7% 50px;
}

.iconed {
    position: relative;
    z-index: 1000;
}

.iconed-icon {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: 0;
    width: 16px;
    height: 16px;
    background: url(../img/sprite.png) no-repeat -6px 0;
}

.iconed.righted {
    float: right;
}

.sonata-bc a.iconed-text {
    margin-left: 20px;
    float: left;
}

.sonata-bc div.iconed-text {
    margin-left: 20px;
    float: left;
}
.sonata-bc  .no-icon div.iconed-text {
		margin-left:0;
}

.addNew .iconed-icon {
    background-position: -23px -1px;
    width: 14px;
    height: 14px;
}

.learnMore .iconed-icon {
    background-position: -54px -1px;
    width: 12px;
    height: 14px;
}

.logs .iconed-icon {
    background-position: -184px -46px;  
    width: 26px;
    height: 26px;
    margin: -13px 0 0 -7px;
}

.iconed.learnMore {
    float: right;
    margin: 10px;
}

.list .iconed-icon {
    background-position: -39px -1px;
    width: 15px;
    height: 14px;
    margin-right: 4px;
}

.b-hint {
    font-size: 13px;
    color: #545454;
    position: relative;
    padding: 15px 20px 20px;
    background: #f6f6f6;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.b-hint-bevel {
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.b-hint-head {
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}

.b-hint-content {
    margin-top: 17px;
    line-height: 1.5em;
}

.b-hint-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    float: left;
    background: url(../img/sprite.png) no-repeat -50px -46px;
}

.b-hint-text {
    float: left;
    line-height: 26px;
    color: #565656;
    font-weight: bold;
}

.b-bar {
    margin-bottom: 18px;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    overflow: hidden;
}

.b-bar-title {
    background: url(../img/hsprite.png) 0 -226px repeat-x;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    font-weight: bold;
}

.b-bar-content {
    padding: 10px 15px;
}

.b-list {
    margin: 0 15px;
}

.b-list-item {
    margin-bottom: 10px;
}

.b-list.bullets .b-list-item {
    padding-left: 15px;
}

.b-list.bullets .b-list-icon {
    width: 10px;
    height: 14px;
    float: left;
    margin-left: -15px;
    background: url(../img/sprite.png) no-repeat -80px 0px; 
}

.b-list.folders .b-list-item {
    padding-left: 15px;
}

.b-list.folders .b-list-icon {
    width: 14px;
    height: 14px;
    float: left;
    margin-left: -15px;
    background: url(../img/sprite.png) no-repeat -66px 0; 
}

.footer {
    margin: 40px 100px 50px;
    padding-top: 10px;
    border-top: 1px solid #d0d0d0;
    color: #bbb;
    font-size: 12px;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}

.tab-content-blocks {
    margin: 10px 0 10px -15px;
}

.block-full,
.block-half,
.block-third,
.block-quarter {
    float: left;
    
    margin-bottom: 5px;
}

.block-wrap {
    margin-left: 15px;
    border: 1px solid #cccccc;
}
.tab-content-blocks .block-wrap {
	border:0;
}
.block-wrap .table-bordered thead:first-child tr:first-child th:last-child {
	border-radius:4px 4px 0 0;
}
.block-wrap .table-bordered tbody:last-child tr:last-child td:first-child  {
border-bottom-left-radius:4px;
}

.block-full {
    width: 100%;
}

.block-half {
    width: 50%;
}

.block-third {
    width: 33.3333%;
}

.block-quarter {
    width: 25%;
}

.block-quarter-wrap {
	display:table;
	width:100%;
}
.block-quarter-wrap .block-quarter {
	width:auto;
	display:table-cell;
	float:none;
}


.draggable-placeholder {
    height: 30px;
    margin-left: 15px;
}

.draggable-placeholder-wrap {
    background: #d7d7d7;
    height: 100%;
    box-shadow: inset 0 0 10px #333;
    border-radius: 3px;
}

.main-block {
    
}
   .sonata-bc .main-block .table-wrap  > .table-bordered {
        border:1px solid #CE6F6F;
    }


body.sonata-bc{ padding-top:0; }

.sonata-bc .header-item a:hover{ color:#fff; }
.sonata-bc .header table{ width:auto; margin:auto; }
.sonata-bc .header table td{ border-top:none; line-height:1em; padding:0; vertical-align: middle; }
.sonata-bc .page-header{ margin:0 0 17px; }

/*soldatov evgeniy*/

.sonata-bc .page-header{ 
    margin: 0 0 5px;
    border: 0;      
    position: relative;    
}

.sonata-bc .page-header-favorite {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../img/sprite.png') no-repeat 0 -119px;
    top: -2px;
    width: 30px;
    left: -42px;
}

.sonata-bc .page-header-favorite-del {
    background-position: -38px -119px;
}

.sonata-bc .page-header h1 {
    font-size: 24px;
}

.sonata-bc .row {
    margin-left: 0;
    position: relative;
}

.sonata-bc .row .span9  {
    width: 67%;
    display: block;
    margin-left: 0;
    float: left;
    position: relative;
}

.sonata-bc .span8 {
    float: none;
    width: 100%;
    margin-left: 0;
}

.cms-block {
    padding-top: 36px;
} 
.sonata-bc .row-fluid  .cms-block .span8 {
	width:100%;

}
.sonata-bc .row-fluid .span12 {
    width: 100%
}

.sonata-bc .span12 {
    padding-top: 36px;
    position: relative;
}   

.span10-statika .cms-block {
    padding-top: 0;
    padding-bottom: 15px;
}

.sonata-bc .span9 .table-bordered td {
   /* border: 1px solid #DDDDDD;*/
 }
 
.sonata-bc .table-bordered td:first-child, .sonata-bc .table-bordered th:first-child {
	border-left:1px solid #ccc;
}
.sonata-bc .table-bordered td:last-child, .sonata-bc  .table-bordered th:last-child {
    border-right: 1px solid #ccc;
}
.sonata-bc .table-bordered tbody tr:last-child td {
	border-bottom: 1px solid #ccc;
}
.sonata-bc table.table-part-bordered td {
	border-top:0;
}
.sonata-bc table.table-part-bordered th {
	border-bottom:1px solid #ccc;
}



.sonata-bc .row .span10 {
	width:31%;
    float: right;
    display: block;
    margin-left: 0;
    
}

.sonata-bc  div.span10-statika {
    background: #f6f6f6;
    margin: 0;
    padding: 5px 12px 0px 20px;
    float: none;
    border: 1px solid #dddddd;
    margin-top: 36px;
	border-radius :3px;
}

.sonata-bc  div.span10-statika-header {
    overflow: hidden;
    margin: 0 0 10px 0;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 0 0px 5px 0;
	float: none;
    
}

.span10-statika-header-img, .span10-statika-header h1 {
    float: left;
    margin: 9px 5px 0 0;
    color: #565656;
    font: bold 116.7% Arial, sans-serif;
}

.sonata-bc  div.span10-statika-header-img {
    display: block;
    width: 24px !important;
    height: 24px !important;
    background: url('../img/sprite.png') no-repeat -50px -46px;
    margin-top: 5px;
	margin-left:0 !important;
	min-height:1px !important;
	 float: left !important;
}

.sonata-bc  div.span10-statika-header-close {
    display: block !important;
    width: 12px !important;
    height: 12px!important;
    background: url('../img/sprite.png') no-repeat -90px 0px;
    cursor: pointer;
    float: right !important;
    margin: 12px 0 0 0;
	min-height:1px !important;
}



.sonata-bc .table-bordered thead th{
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
    background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    border-top: 1px solid #cccccc;
    /*border-bottom: 1px solid #cccccc;*/

}

.sonata-bc .form-inline {
    margin-left: 11px;
    overflow: hidden;
}

.sonata-bc .form-inline label,.form-inline .btn {
    float: left;
    margin-right: 10px;
    height: 27px;
}

.sonata-bc .form-inline  .form-inline-label {
    width: 150px;
    display: block;
    text-align: left;
    padding: 4px 0 0 0;
}

.sonata-bc .form-inline  .form-inline-check {
   display: block;
   margin-right: 5px;
   float: left;
 
}   

.sonata-bc .form-inline .form-inline-select {
    display: block;
    float: left;
    margin-right: 10px;

}   

.sonata-bc .form-inline .btn {
    display: block;
}


.ui-draggable {
    z-index: 1000;
}

.ui-draggable .table tr th {
    position: relative;
}

 .table tr .th-close-wrap {
    background:#e7e5e6;
    border: 1px solid #b0aeae;
    position: absolute;
    width: 21px;
    height: 16px;
    top: 9px;
    right: 9px;
    cursor: pointer;
}

.table tr .th-close-img {
    background: url('../img/sprite.png') no-repeat 0 -108px;
    width: 8px;
    height: 8px;
    margin: 4px 0 0 6px;
}

.ui-draggable .table tr .th-wrap {
    padding-right: 25px;
}

.ui-draggable-dragging .table th{
    background: #e65969;
}

.disible-drag {
	position: absolute;
	top:0;
	left: 0;
	background: rgba(255,255,255, 0.4);
	width: 100%;
	height: 100%;
}

.replaceable .table th {
    background: #e65969;
}

.sonata-bc  .bread .bread-wrap {
    margin: 0;
    width: auto;
    float: none;
}

.top-menu-action .sonata-actions ul {
    margin-left: 0;
}

.sonata-bc .form-horizontal .control-label {
    padding-top: 0;
    text-align: left;
}

.sonata-bc .form-horizontal  label {
    text-align: left;
}

.sonata-bc .form-horizontal .controls input {
    width: 410px;
}
.sonata-bc .form-horizontal .controls textarea {
    width: 410px;
    height: 300px;
}
.sonata-bc .form-horizontal .controls input[type="checkbox"] {
	width:20px;
}
.sonata-bc .form-horizontal .controls select, .sonata-bc .form-horizontal .controls .selector  {
    width: 410px;
}
.sonata-bc .form-horizontal .controls .controls select, .sonata-bc .form-horizontal .controls .controls .selector {
    width: 250px;
}
.sonata-bc .form-horizontal .controls .controls input[type="number"] {
    width: 247px;
}
.sonata-bc .form-horizontal .controls .input-check {
    width: auto;
}

.sonata-bc .form-horizontal .controls .input select, .sonata-bc .form-horizontal .controls .input input {
    width: auto;
}
.sonata-bc .form-horizontal .controls div div .input select {
    width: 250px;
}

  .sonata-bc .ui-dialog-content .select2-container {
    margin-left:0; 
} 
  .sonata-bc .ui-dialog-content .control-label label {
    margin-left:20px; 
}



.d-tab td a {
    position: relative;
    margin-right: 100px;
    overflow: hidden;
}

.d-tab td a span {
    float: left;
    margin-left: 10px;
   
}

.d-tab td a span:hover {
    text-decoration: underline;
}

.d-tab .d-tab-popup {
    clear: both;
    background: #f6f6f6;
    padding: 3px 0; 
    float: none;
}
/*Repository*/
.reposit-item {
    background: #fff;
    margin-bottom: 2px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 13px 14px 5px 14px;
    clear: both;
    overflow: hidden;
}

.reposit-item .reposit-item-a {
    display: block;
    font: bold 14px Arial, sans-serif;
    overflow: hidden;
}

.reposit-item .reposit-item-a:hover span{
   text-decoration: underline;
}

.reposit-item .reposit-item-a img {
    float: left;
    margin-right: 10px;
}

.reposit-item .reposit-item-a span {
    float: left;
    padding-top: 9px;
}

.reposit-item-left {
    float: left;
    width: 70%;
}

.reposit-item-right {
    float: right;

}

.reposit-item-info {
    margin-left: 59px;
    color: #808080;
    font: 12px Arial, sans-serif;
}

.reposit-item-version {
    color: #000;
    font: 12px Arial, sans-serif;
}

.reposit-item  .gs-buttons {
    margin: 0 0 8px 0;
    text-align: left;
}

.reposit-item .gs-buttons li {
    margin: 0;
}

.reposit-module-title {
    color: #fff;
    font-size: 24px;
}

.reposit-module-info {
    overflow: hidden;
    padding: 23px 2px;
    border: 1px solid #dbdbdb;
    border-right: none;
    border-left: none;
    position: relative;
    margin-bottom: 30px;
}

.reposit-module-info img {
    float: left;
}

.reposit-module-info-text {
    margin: 0 200px 0 64px;
    color: #808080;
    font-size: 12px;
}

.reposit-module-info .gs-buttons {
    position: absolute;
    top: 23px;
    right: 0;
    margin: 0;
}

.reposit-module-info .reposit-item-version {
    padding-top: 12px;
}

.reposit-module-last-version h2 {
    color: #545454;
    font: bold 14px Arial, sans-serif;
    padding-bottom: 17px;
}

.reposit-module-last-version ul {
    margin: 0;
}

.reposit-module-last-version ul li {
    background: url('../img/reposit-list.png') no-repeat left 50%;
    list-style-type: none;
    padding-left: 10px;
}

.reposit-module-last-version ul li span.module-data {
    color: #808080;
}

/*end repository*/

/*статистика*/

.st-wrapper {
    border: 1px solid #cccccc;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.sonata-bc .st-wrapper .st-table td, .sonata-bc .st-wrapper .st-table th {
    border: none;
}

.st-header {
    overflow: hidden;
    border-bottom: 1px solid #cccccc;
}

.sonata-bc .st-blog {
    color: #308ec2;
    font-size: 16px;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: -6px;
}

.sonata-bc .st-links {
    float: right;
    color: #555555;
    display: block;
    text-decoration: underline;
    background: url('../img/statistic.png') no-repeat left;
    padding-left: 15px;
    cursor: pointer;
}

.sonata-bc .st-links:hover {
    color: #555555;
    text-decoration: none;
}

/*---*/

/*--------*/

/* 05.04.2012 */
a { outline: 0 !important; }
.d-login-block { margin: 0 auto; width: 500px; background: #f6f6f6; border: 1px solid #ddd; }
.d-login-block a { float: left; *display: inline; *zoom: 1; margin: 7px 0 0 140px; text-decoration: underline; }
.d-login-block p { margin-bottom: 13px !important; padding: 0 !important; }
.d-login-block .form-stacked { margin: 0 !important; padding: 30px; border-top: 1px solid #fff; text-align: right; }
.d-login-block .inp-txt { width: 290px !important; text-align: left; }
.d-login-block .inp-btn { width: 100px !important; }
.d-login-block label { float: left !important; padding-top: 3px !important; width: 130px !important; font-weight: 400 !important; text-align: right !important; }

#d-tabs { position: relative; z-index: 5; height: 36px; padding-left: 15px; }
#d-tabs ul, #d-tabs li { margin: 0; padding: 0; list-style: none; }
#d-tabs li, #d-tabs a { float: left; height: 36px; background: url(/bundles/armdadmin/img/bg-d-tabs.png) 100% -120px no-repeat; font-size: 15px; line-height: 36px; }
#d-tabs li { *display: inline; *zoom: 1; position: relative; margin-left: -15px; }
#d-tabs a { padding: 0 27px 0 17px; background-position: 0 -80px; color: #000; }
#d-tabs li.current { z-index: 2; height: 38px; background-position: 100% -40px; }
#d-tabs li.current a { height: 38px; background-position: 0 0; text-decoration: none !important; }

.d-tab { display: none; margin-bottom: 10px; padding: 15px; background: #f6f6f6; border: 1px solid #ddd; border-radius: 0 3px 3px 3px; -moz-border-radius: 0 3px 3px 3px; -webkit-border-radius: 0 3px 3px 3px; box-shadow: inset 0 1px 1px #fff; -moz-box-shadow: inset 0 1px 1px #fff; -webkit-box-shadow: inset 0 1px 1px #fff; }
.d-tab-current { display: block; }
.d-tab table { margin: 0; width: 100%; border-collapse: collapse; border-spacing: 0; }
.d-tab td, .d-tab th { border: 1px solid #cacaca; background: #fff; font-size: .9em; }
.d-tab th { font-weight: 700; color: #de2d42; }
.d-tab th img { margin: 0 10px; vertical-align: middle; }
.d-tab .bgd-row td { background: #f5f5f5; }
.d-tab td a { display: block; color: #000 !important; }
.d-tab td b { color: #000 !important; }
.d-tab td img { float: left; width: 49px; height: 33px; }
.d-tab td span { display: block; margin-left: 60px; }
.d-tab td span span { float: left; margin: 0; color: #737373; }
.d-tab td dfn { display: block; margin-left: 110px; font-style: normal; line-height: 1.5em; }

.d-tab-no-shad {
    box-shadow: none;
}


.b-list-item { padding: 10px !important; color: #000 !important; }

.d-log-options { margin-left: 15px; font-size: 11px !important; color: #e3142b !important; }
.d-log-options b { padding: 0 5px; font-weight: 400; color: #ababab !important; }

.sonata-bc .sonata-ba-form fieldset legend {
    border: none;
}

.sonata-actions-edit {
	background: url('/bundles/armdadmin/img/nav-adm-bg.png') repeat-x;
    margin-bottom: 10px;
    height: 38px;
    border: 1px solid #cccccc;
    border-radius: 3px;
	background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(254,254,254,1) 3%, rgba(247,247,247,1) 5%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(3%,rgba(254,254,254,1)), color-stop(5%,rgba(247,247,247,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(254,254,254,1) 3%,rgba(247,247,247,1) 5%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(254,254,254,1) 3%,rgba(247,247,247,1) 5%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(254,254,254,1) 3%,rgba(247,247,247,1) 5%,rgba(229,229,229,1) 100%);
	background: linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(254,254,254,1) 3%,rgba(247,247,247,1) 5%,rgba(229,229,229,1) 100%);
	border:1px solid #ccc;
	border-radius:3px;
	margin-top:14px;
}
.sonata-actions-edit ul {
    list-style:none;
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
}
 li.sae-element {
    display:inline;
    margin-right: 30px;
}
.sae-element a{
    color:#2c80d6;
    font:bold 12px Tahoma, Helvetica, sans-serif;
}
		
.sonata-datetimeblock {
    overflow:hidden;
    width:410px;
}	
		 
.sonata-bc .form-horizontal .controls .sonata-datetimeblock input.sonata-date {
    width:214px;	
    float:left;
}

.sonata-bc .form-horizontal .controls .sonata-datetimeblock input.sonata-datetimepicker {
    float:left;
    width:200px;
    height:10px;
}

.sonata-bc .form-horizontal .controls .sonata-datetimeblock input.sonata-time {
    float:right;
    width:120px;
}

.datepicker{
overflow: hidden;
width: 410px;
}
.sonata-bc .form-horizontal .controls .datepicker input[type="date"], .sonata-bc .form-horizontal .controls .datepicker input.sonata-date  {
width: 214px;
float: left;
}

.sonata-bc .form-horizontal .controls .datepicker input[type="time"] {
float: right;
width: 120px;
margin-top:-30px;
}

button.ui-datepicker-trigger {
    width:20px;
    height:20px;
    float:left;
    margin:5px 0 0 8px;
    padding:0;
    background:url(/bundles/armdadmin/img/calendar_icons.png) no-repeat 0 0;
	border:0;
}

.calendar-arrow {
    position:absolute;
    top:-8px;
    left:40px;
    width:14px;
    height:10px;
    display:block;
    background:url(/bundles/armdadmin/img/calendar_icons.png) no-repeat -27px -5px;
}
		
.sonata-bc .noborder td.menu-legend {
	padding-left:0;
}	
	
.menu-legend .span10-statika {
    padding-bottom:0;
}

.sonata-bc  .menu-legend dl {
    margin:0 20px 0 0;
    display:inline-block;
    vertical-align:top;
    white-space:nowrap;
}

.sonata-bc .menu-legend  dl dd {
    margin-left:30px;
    margin-bottom:5px;
}

.sonata-bc .btn {
	vertical-align:middle;
	font-size:12px;
	padding:7px 14px 8px;
	margin-right:2px;
	border-radius:2px;
	text-shadow:none;
	color:#333;
	background-position:0 -15px;
	min-width:33px;
	cursor: pointer;
	display: inline-block;
	background-color: #E6E6E6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(white, white 25%, #E6E6E6);
	background-image: -moz-linear-gradient(top, white, white 25%, #E6E6E6);
	background-image: -ms-linear-gradient(white, white 25%, #E6E6E6);
	background-image: -o-linear-gradient(white, white 25%, #E6E6E6);
	background-image: linear-gradient(white, white 25%, #E6E6E6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
	line-height: normal;
	border: 1px solid #CCC;
	border-bottom-color: #BBB;
	
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
	text-align: center;
}

.btn_block {
	display:block;
	margin-top:13px;
}

.sonata-bc button.btn  {
	height: 32px;
	
}

.sonata-bc .btn:hover {
	background-position:0 0;
}
	
.sonata-bc .btn  a {
    color:#333;
}
    
.sonata-bc .btn  a:hover {
    text-decoration:none;
}

.sonata-bc   .btn.primary {
    
	color: white;
	background-color: #0064CD;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#049CDB), to(#0064CD));
	background-image: -moz-linear-gradient(top, #049CDB, #0064CD);
	background-image: -ms-linear-gradient(top, #049CDB, #0064CD);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049CDB), color-stop(100%, #0064CD));
	background-image: -webkit-linear-gradient(top, #049CDB, #0064CD);
	background-image: -o-linear-gradient(top, #049CDB, #0064CD);
	background-image: linear-gradient(top, #049CDB, #0064CD);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #0064CD #0064CD #003F81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-position:0 0;
}


.sonata-bc .btn.danger, .sonata-bc .alert-message.danger, .sonata-bc .btn.error, .sonata-bc .alert-message.error {
	background-color: #C43C35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#EE5F5B), to(#C43C35));
	background-image: -moz-linear-gradient(top, #EE5F5B, #C43C35);
	background-image: -ms-linear-gradient(top, #EE5F5B, #C43C35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EE5F5B), color-stop(100%, #C43C35));
	background-image: -webkit-linear-gradient(top, #EE5F5B, #C43C35);
	background-image: -o-linear-gradient(top, #EE5F5B, #C43C35);
	background-image: linear-gradient(top, #EE5F5B, #C43C35);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #C43C35 #C43C35 #882A25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: white;
}


.sonata-bc .btn-reposit {
    padding-right: 33px;
    padding-left: 33px;    
    font-size: 13px;
}

.sonata-bc .btn.primary:hover {
    background-position:0 -15px;
}
    
.sonata-bc .filter_container  .btn.primary {
    min-width:165px;
}
		
.selector {
    border:1px solid #ddd;
    border-radius:3px;
    position:relative;
    cursor:pointer;
    z-index:100;
    background:#fff url('/bundles/armdadmin/img/select_arrow.gif') no-repeat 100% 13px;
    }
		
        
.selector span {
position:absolute;
left:10px;
top:6px;
display:block;
width:100%;
}

.selector select {
    position:relative;
    z-index:2;
    width:100%;
    height:31px;
	margin:0;
}		
		
.select_form {
	width:256px;
}	
.select_site_form {
	width:auto;
}

.select_form label {
    float:left;
    text-align:left;
    width:70px;
    padding-top:7px;
}
.select_site_form label {
	width:110px;
	padding-top:5px;
}

.select_form .selector {
    float:left;
    width:150px;
}
	
.gallery-span10 .span10-statika {
	margin-top:0;
}	
.media-span10 .span10-statika {
	margin-top:22px;
}

form.armada-filter-form {
	margin-bottom:0;
	
	
}		
.armada-filter-form legend {
    float:left;
    margin:-37px 0 0-1px;
    cursor:pointer;
	border-bottom:0;
}
		.armada-filter-form legend .legend_text {
			margin:12px 15px 10px;
			background:url('/bundles/armdadmin/img/filter_sprite.png') no-repeat 0 6px;
			padding-left:10px;
		}
		.armada-filter-form legend.active .legend_text {
			background-position:0 -30px;
		}
		.armada-filter-form legend .legend_text span {
			color:#2c80d6;
			border-bottom:1px dashed;
			font-size:14px;
			font-weight:bold;
			
		}
		
		.armada-filter-form legend.active {
			background:url('/bundles/armdadmin/img/filter_head.gif') no-repeat 0 0;
		}
			
	
	.armada-filter-form fieldset {
		margin-top:57px;
		
		border-radius:0 3px 3px 3px;
		padding-top:0;
	}
		.armada-filter-form fieldset.active {
			border:1px solid #dddddd;
			background:#f6f6f6;
		}
		.armada-filter-form table {
			margin:0;
		}
			.armada-filter-form table td {
				border:0;
			}
			
				.sonata-bc dl.filter-forms {
					margin:0;
					padding:12px 10px 0 23px;
				}
					.sonata-bc dl dt.filter-title {
						clear:left;
						width:13%;
						float:left;
						font-weight:normal;
						margin-top:7px;
					}
					.sonata-bc .media-filter-forms dl dt.filter-title {
						width:160px;
					}
					
					
						.sonata-bc dl.filter-forms  dd  {
							margin-left:13%;
							margin-bottom:18px;
						}
						.sonata-bc .media-filter-forms dl dd {
							margin-left:160px;
						}
					
						.filter-type, .filter-value {
							width:50%;
							display:inline-block;
							vertical-align:top;
							margin-left:-0.3em;
						}
						.filter-type {
							width:49%;
							margin-right:1%;
						}
							.media-filter-forms .filter-type {
								width:40%;
							}
						.filter-value {
							
						}
							.media-filter-forms .filter-value {
								width:59%;
							}
							
							.input-wrapper {
								margin:0 34px 0 0;
							}
							.filter-value input {
								width:100%;
								padding:6px 16px 7px;
								box-shadow:none;
								border-color:#d5d5d5;
								
								color:#000;
							}
							.filter-value input.active {
								background:#f6f6f6;
							}
							.input-wrapper .selector{
								margin-right:-34px;
							}
							.armada-filter-form  .selector span {
								left:18px;
							}
							
							.armada-filter-form .controls .selector {
								margin-bottom:18px;
							}
			
			.filter_buttons {
				text-align:right;
				padding:0 10px 18px;
			}
			
			.filter-forms {
				padding:12px 10px 0 12px;
			}
	
	.gallery-side {
		padding:10px 10px;
		background: #ffffff;
		background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 2%, #f5f5f5 11%, #f7f7f7 13%, #e9e9e9 69%, #e4e4e4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#f7f7f7), color-stop(11%,#f5f5f5), color-stop(13%,#f7f7f7), color-stop(69%,#e9e9e9), color-stop(100%,#e4e4e4));
		background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 2%,#f5f5f5 11%,#f7f7f7 13%,#e9e9e9 69%,#e4e4e4 100%);
		background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 2%,#f5f5f5 11%,#f7f7f7 13%,#e9e9e9 69%,#e4e4e4 100%);
		background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 2%,#f5f5f5 11%,#f7f7f7 13%,#e9e9e9 69%,#e4e4e4 100%);
		background: linear-gradient(top,  #ffffff 0%,#f7f7f7 2%,#f5f5f5 11%,#f7f7f7 13%,#e9e9e9 69%,#e4e4e4 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 );
		border:1px solid #ddd;
		border-bottom:0;
		border-radius:3px 3px 0 0;
		width:650px;
	}
	.no-result {
		border-radius:3px;
	}
	
		.sonata-bc p.album-count {
			margin:7px 0 0;
			font-weight:bold;
			float:left;
			color:#545454;
			font-size:12px;
		}	
		ul.gs-buttons {
			list-style:none;
			text-align:right;
			margin-bottom:0;
		}
			.gs-buttons  li {
				display:inline-block;
				margin-left:5px;
			}
				.sonata-bc  .btn.dark_button {
					background: #dedede;
					background: -moz-linear-gradient(top,  #dedede 0%, #d6d6d6 45%, #cfcfcf 71%, #cccccc 97%, #bcbcbc 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(45%,#d6d6d6), color-stop(71%,#cfcfcf), color-stop(97%,#cccccc), color-stop(100%,#bcbcbc));
					background: -webkit-linear-gradient(top,  #dedede 0%,#d6d6d6 45%,#cfcfcf 71%,#cccccc 97%,#bcbcbc 100%);
					background: -o-linear-gradient(top,  #dedede 0%,#d6d6d6 45%,#cfcfcf 71%,#cccccc 97%,#bcbcbc 100%);
					background: -ms-linear-gradient(top,  #dedede 0%,#d6d6d6 45%,#cfcfcf 71%,#cccccc 97%,#bcbcbc 100%);
					background: linear-gradient(top,  #dedede 0%,#d6d6d6 45%,#cfcfcf 71%,#cccccc 97%,#bcbcbc 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#bcbcbc',GradientType=0 );

				}
	
	.gallery-side-bottom {
		border-top:0;
		border-bottom:1px solid #ddd;
		border-radius:0 0 3px 3px;
	}
	
	.gallery-images {
		background:#f6f6f6;
		border:1px solid #ddd;
		padding:12px 0 2px 10px;
		width:660px;
	}	
		ul.gallery-images-list {
			list-style:none;
			margin:0 0 0 0;
			padding:0;
		}
			.gallery-images-list li{
				float:left;
				width:49%;
				height:189px;
				
				margin:0 1% 10px 0;
			}
				.gallery-anons {
					width:314px;
					height:187px;
					border:1px solid #ccc;
					border-radius:3px;
					background: #d4d4d4;
					background: -moz-linear-gradient(top,  #d4d4d4 0%, #cfcfce 17%, #b2b2b3 74%, #b0b1b0 81%, #b0b0b0 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4d4d4), color-stop(17%,#cfcfce), color-stop(74%,#b2b2b3), color-stop(81%,#b0b1b0), color-stop(100%,#b0b0b0));
					background: -webkit-linear-gradient(top,  #d4d4d4 0%,#cfcfce 17%,#b2b2b3 74%,#b0b1b0 81%,#b0b0b0 100%);
					background: -o-linear-gradient(top,  #d4d4d4 0%,#cfcfce 17%,#b2b2b3 74%,#b0b1b0 81%,#b0b0b0 100%);
					background: -ms-linear-gradient(top,  #d4d4d4 0%,#cfcfce 17%,#b2b2b3 74%,#b0b1b0 81%,#b0b0b0 100%);
					background: linear-gradient(top,  #d4d4d4 0%,#cfcfce 17%,#b2b2b3 74%,#b0b1b0 81%,#b0b0b0 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#b0b0b0',GradientType=0 );
					position:relative;
					margin:auto;
					background-position:50% 50%;
					background-repeat:no-repeat;
				}
		
				.gallery-anons-line {
					position:absolute;
					bottom:0;
					left:0;
					background:rgba(0,0,0,0.6);
					width:314px;
					border-radius:0 0 3px 3px;
					padding:0 0 5px 0;
				}
					.sonata-bc p.ga-name {
						margin:5px 0 0 10px;
						color:#fff;
						font-weight:bold;
						height:20px;
						white-space:nowrap;
						overflow:hidden;
						-webkit-mask-image:-webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(90%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));


					}
					.sonata-bc p.ga-number {
						float:right;
						margin:6px 10px 0 0;
						position:relative;
						padding-left:10px;
						position:relative;
					}
					
						.ga-number span {
							display:inline-block;
							color:#fff;
							padding-left:20px;
							margin-left:10px;
						}
							.ga-image {
								background:url('/bundles/armdadmin/img/gallery_types.png') no-repeat 0 2px;
							}
							.ga-youtube {
								background:url('/bundles/armdadmin/img/gallery_types.png') no-repeat 0 -36px;
							}
							.ga-file {
								background:url('/bundles/armdadmin/img/gallery_types.png') no-repeat 0 -72px;
							}
	
	.sonata-bc .page-header {
		border-bottom:0;
		box-shadow:none;
		padding-bottom:10px;
	}
		.sonata-bc .page-header h1 {
			font-size:24px;
			font-weight:bold;
			margin:0;
		}
			.fav_star {
				margin:-3px 0 0 -42px;
				float:left;
			}
				.fav_star a {
					display:block;
					width:30px;
					height:30px;
					background:url('/bundles/armdadmin/img/fav.png') no-repeat 0 0;
					
				}

.sonata-bc table {
	border-collapse:separate;
}
.sonata-bc table th, .sonata-bc table td {
line-height: 18px;
text-align: left;
}			
.sonata-bc table th, .sonata-bc .table th {
	padding-bottom:9px;
	padding-top:9px;
}
.sonata-bc table td, .sonata-bc .table td {
	padding-top:12px;
	padding-bottom:12px;
}

.media-types-select {
	background:#f6f6f6;
	padding:10px;
	color:#545454;
}
	.media-types-select .select_form {
		display:inline-block;
		vertical-align:top;
		margin:0;
		
	}
	.media-types-select label {
		font-weight:bold;
	}
		.select_form .selector span {
					top:8px;
				}
		.select_site_form #uniform-select_site  span {
			top:5px;
		}		

	ul.types-tabs {
		list-style:none;
		display:inline-block;
		vertical-align:top;
		margin:0;
	}
		.types-tabs li {
			display:inline-block;
			vertical-align:middle;
			
		}
			.types-tabs li a {
				display:inline-block;
				vertical-align:top;
				padding:6px 15px;
				color:#d52436;
				border-radius:3px;
				border:1px solid #f6f6f6;
			}	
				.types-tabs li.active a, .types-tabs li a:hover {
					background:#e05363;
					color:#fff;
					text-decoration:none;
					border:1px solid #d2d2d2;
				}
			.types-tabs strong {
				margin-right:5px;
				color:#545454;
			}
	
	
	.sonata-bc table.media-table {
		border-collapse:separate;
	}	
		.media-table th.sonata-ba-list-field-header-batch {
			border-radius:3px 0 0 0;
			border-left:1px solid #cccccc;
		}
		
		.media-table tr th.sonata-ba-list-field-header-batch, .media-table tr td.sonata-ba-list-field-batch  {
			text-align:center;
		}
		.sonata-bc .media-table tr .sonata-ba-list-field-header-boolean {
			width:70px;
			
		}
		.sonata-bc  .media-table tr .sonata-ba-list-field-header-string, .sonata-bc  .media-table tr  .sonata-ba-list-field-string  {
			width:273px;
			padding-left:13px;
			padding-right:13px;
		}
		.sonata-bc  .media-table tr .sonata-ba-list-field-header-actions, .sonata-bc  .media-table tr  .sonata-ba-list-field-actions {
			padding-left:13px;
			padding-right:13px;
		}
		.sonata-bc table.media-table th.sonata-ba-list-field-order-active, .sonata-bc table.media-table th.sonata-ba-list-field-order-active:hover{
			background-position:2px 50%;
		}
        
        .sonata-bc table.media-table th.sonata-ba-list-field-order-active {
            padding-left: 2px;
        }
        
		.sonata-bc table.media-table  td {
			padding-top:6px;
			padding-bottom:6px;
		}
		.sonata-bc table.media-table tbody tr:first-child td {
			padding-top:17px;
		}
		.sonata-bc table.media-table tbody tr:last-child td {
			padding-bottom:17px;
		}
		
		.sonata-bc table.media-table th {
			padding-top:6px;
			padding-bottom:9px;
		}
		.media-table th.sonata-ba-list-field-header-actions  {
			border-radius:0 3px 0 0;
		}
		.media-table th {
			border-right:1px solid #d6d6d6;
			border-bottom:1px solid #ccc;
			border-top:1px solid #cccccc !important;
		}
		
		.media-table .sonata-ba-list-field-batch {
			
			border-left:1px solid #cccccc;
		}
		.media-table .sonata-ba-list-field-string {
			color:#808080;
			font-size:11px;
		}
			.media-table .sonata-ba-list-field-string div {
				overflow:hidden;
				padding:3px 0;
			}
			.media-table .sonata-ba-list-field-string  img{
				border:1px solid #d5d5d5;
				padding:2px;
				border-radius:2px;
				margin-right:7px;
			}
			.media-table .sonata-ba-list-field-string strong{
				font-weight:normal;
				font-size:12px;
				color:#000;
				word-wrap: break-word;
				overflow: hidden;
				display:block;
				width:175px;
				line-height:15px;
				margin-bottom:1px;
			}
			.media-table .sonata-ba-list-field-string br {
				display:none;
			}
			.sonata-bc table.media-table td {
				border-top:0;
				border-right:1px solid #e5e5e5;
			}
			.sonata-bc table.media-table td.sonata-ba-list-field-actions {
				border-right:1px solid #ccc;
			}
			
		.sonata-bc table.media-table th.sonata-ba-list-field-header-boolean, .sonata-bc table.media-table td.sonata-ba-list-field-boolean {
			text-align:center;
		}	
			.media-table .sonata-ba-list-field-boolean img{
				margin-top:0;
			}
		
		.media-table .sonata-ba-list-field-actions a.view_link ,  .media-table .sonata-ba-list-field-actions a.edit_link, .gallery_actions a.list_link, .gallery_actions a.add_link, .gallery_actions a.delete_link, .sonata-ba-list-field-actions a.delete_link, .sonata-ba-list-field-actions a.add_link, .sonata-ba-list-field-actions  a.edit_link, .sonata-ba-list-field-actions  a.view_link, .sonata-ba-list-field-actions a.add_filed_link  {
			padding-left:19px;
			text-decoration:underline;
			margin-right:15px;
		}
		.sonata-ba-list-field-actions a.view_link {
			background:url(/bundles/armdadmin/img/actions_sprite.png) no-repeat 0 2px;
		}

		 .sonata-ba-list-field-actions a.add_filed_link {
			background:url(/bundles/armdadmin/img/actions_sprite.png) no-repeat 0 -282px;
             padding-left: 21px;
			
		}

        .sonata-ba-list-field-actions a.edit_link {
			background:url(/bundles/armdadmin/img/actions_sprite.png) no-repeat 0 -34px;

		}

		.media-table .sonata-ba-list-field-actions a.edit_link {
			margin-right:0;
		}		
		.media-table .list_link , .gallery_actions  .list_link, .sonata-ba-list-field-actions  .list_link  {
			background:url(/bundles/armdadmin/img/actions_sprite.png) no-repeat 0 -111px;
		}
		.media-table .add_link, .gallery_actions  .add_link, .sonata-ba-list-field-actions  .add_link {
			background:url(/bundles/armdadmin/img/actions_sprite.png) no-repeat 3px -150px;
		}
		.media-table .delete_link, .gallery_actions  .delete_link, .sonata-ba-list-field-actions .delete_link {
			background:url(/bundles/armdadmin/img/actions_sprite.png) no-repeat 3px -188px;
		}
		.sonata-ba-list-field-actions .delete_link {
			background-position:3px -187px;
		}
		.media-table .sonata-ba-list-field-actions a.view_link:hover ,  .media-table .sonata-ba-list-field-actions a.edit_link:hover, a.list_link:hover, a.add_link:hover , a.delete_link:hover  {
			text-decoration:none;
		} 
		.sonata-bc table .table-footer td {
			border-right:0;
			background:#f6f6f6;
			border-top:1px solid #e5e5e5;
			border-bottom:1px solid #ccc ;
			color:#808080;
			font-weight:bold;
			font-size:12px;
		}
			.sonata-bc table .table-footer td:first-child {
				border-left:1px solid #ccc;
				border-radius:0 0 0 3px;
			}
			.sonata-bc table .table-footer td:last-child {
				border-right:1px solid #ccc !important;
				border-radius:0 0 3px 0;
			}
		.media-form-inline {
			
		}	
			.sonata-bc .media-form-inline .form-inline-label {
				padding-top:7px;
			}
				.media-form-inline .form-inline-label input {
					margin-top:2px;
				}
			.media-form-inline .selector {
				float:left;
				width: 200px;
				vertical-align:top;
				margin-right:10px;
			}
				.media-form-inline .selector span {
					top:8px;
				}
			
			.media-form-inline .btn {
				width:66px;
			}
			
	.form-edit-gallery {
		
	}
		.form-edit-gallery  .form_wrapper{
			/*width:670px;*/
		}
		.sonata-bc  label {
			position:relative;
		}
		.sonata-bc .form-edit-gallery .controls input {
			width:510px;
		}
		.sonata-bc .form-edit-gallery .controls select, .sonata-bc .form-edit-gallery .controls .selector {
			width:510px;
		}
		.sonata-bc .form-edit-gallery .controls input[type="checkbox"] {
			width:15px;
		}
		.sonata-bc .btn-group{
    		display: block;
		}
		span.required {
			color:#e11830;
			font-size:14px;
			position:absolute;
			top:7px;
			left:-12px;
		}
		
		.form-edit-gallery  .controls td {
			text-align:center;
			vertical-align:middle;
			border-top:0;
		}
		.form-edit-gallery  .controls th {
			border-bottom:1px solid #ccc;
		}
			.form-edit-gallery  .controls td input[type="checkbox"] {
				position:relative;
				top:-3px;
			}
			.form-edit-gallery  .controls tr:last-child td {
				padding-bottom:20px;
			}
			.form-edit-gallery  .controls tbody tr:first-child td {
				padding-top:20px;
			}
			
		.form-edit-gallery  .ui-icon-grip-solid-horizontal {
			width:16px;
			height:13px;
			display:inline-block;
			background:url(/bundles/armdadmin/img/actions_sprite.png) no-repeat 0 -237px;
			position:relative;
			top:1px;
		}
			
			
#revisions {
	margin-top:20px;
	font-size:12px;
}
	#revisions tbody tr:first-child td {
		padding-top:16px;
	}
	#revisions tbody tr:last-child td {
		padding-bottom:33px;
	}
	table#revisions  th.rev_id, table#revisions  td.rev_id, table#revisions  th:last-child, table#revisions  td:last-child  {
		text-align:center;
		padding-left:10px;
	}
	
	table#revisions td, table#revisions th {
		padding-left:20px;
	}
	
	
	a.revert_link {
		background:url(/bundles/armdadmin/img/actions_sprite.png) no-repeat 0 -71px;
		padding-left:18px;
	}
	#revisions a {
		font-size:11px;
		text-decoration:underline;
		color:#2c80d6;
	} 
	#revisions a:hover  {
		color:#00438a;
	}

	.sonata-bc .row .revision-detail {
		margin-left:0;
		width:67%;
		float:left;
		clear:left;
		
	}
	
	.sonata-ba-view {
		background:#f6f6f6;
		color:#545454;
	}
		.sonata-ba-view table {
			border:1px solid #ddd;
			border-radius:4px;
			font-size:12px;
		}
			.sonata-ba-view-title span {
				display:block;
				border-bottom:1px solid #dbdbdb;
				padding-bottom:10px;
			}
			
			.sonata-ba-view .sonata-ba-view-container  td, .sonata-ba-view table tbody th {
				border:0;
			}
				.sonata-ba-view table th  {
					color:#a8a8a8;
					font-size:14px;
					font-weight:bold;
				}
				
			.sonata-ba-view table td , .sonata-ba-view table th {
				padding:12px 20px;
			}	
			
			.sonata-ba-view table tr:nth-child(2) td {
				font-size:18px;
			}
			.sonata-ba-view table tr:nth-child(3) td {
				font-weight:bold;
			}
			.sonata-ba-view table td {
				line-height:21px;
			}
	
	.sonata-bc ul.anchor-menu {
		list-style:none;
		margin:0;
		padding:11px 0 16px;
	}	
		.anchor-menu li {
			display:inline;
			margin:0 28px 0 0;
		}
		
			.anchor-menu li  a {
				text-decoration:none;
				border-bottom:1px dotted;
				color:#010101;
			}
			.anchor-menu li.active a {
				border:0;
				font-weight:bold;
				color:#545454;
			} 
			.anchor-menu li  a:hover {
				border:0;
				text-decoration:none;
				color:#545454;
			}
		
		#image_original img {
			border:1px solid #d5d5d5;
			border-radius:3px;
			background:#fff;
			padding:7px;
		}
		
		.anchor_block {
			padding-bottom:28px;
			
		}
			.anchor_block  h3 {
				font-size:14px;
				font-weight:bold;
				margin:0 0 5px;
			}
			.sonata-bc table.view_table {
				width:auto;
				border-bottom:1px solid #fff;
				margin-bottom:0;
			}
				.sonata-bc table.view_table td {
					border-bottom:1px solid #e5e5e5;
					border-top:1px solid #fff;
					padding:8px 0 8px 5px;
				}
				.sonata-bc table.view_table tbody tr:first-child td  {
					border-top:0;
				}
				
				.sonata-bc table.view_table td.view_table_label {
					width:150px;
					
				}
				.sonata-bc .view_table input {
					margin-bottom:2px;	
					
				}
				.warning-note {
					font-size:11px;
					color:#8f8f8f;
					margin:3px 0 -5px;
					
				}
					.warning-note .label {
						position:relative;
						top:-3px;
						font-weight:normal;
						margin-right:3px;
					}
				.vt_view_link {
					margin-left:10px;
				}
				
		.mediatabbable {
			position:relative;
			margin:-20px;
			background:#fff;
			padding-top:24px;
		}
		.notabbable {
			position:relative;
			margin:-20px;
			background:#fff;
			height:60px;
		}	
			.sonata-bc .mediatabbable  ul.nav-list {
				padding:0;
			}
			.sonata-bc  .mediatabbable .nav-list {
				
			}
			.mediatabbable .nav-list a {
				display:block;
				font-weight:bold;
				font-size:14px;
				color:#000;
				margin:2px 5px;
			}
			
			.sonata-bc .tabbable .nav-list {
				position: relative;
				z-index: 10;
				bottom:-1px;
			}

			.sonata-bc .tabbable .nav-list  li{
				background: url('../img/menu-bg-right.png') no-repeat right top;
				height: 36px;
				padding-right: 25px;
				margin: 0 0 0 -10px;
				cursor: pointer;
				float:left;
			}

			.sonata-bc .tabbable .nav-list  li:first-child {
				margin: 0;
			}

			.sonata-bc .tabbable .nav-list li a{
				height: 29px;
				background: url('../img/menu-bg-left.png') repeat-x left top;
				border: 0;
				padding: 8px 11px 0 19px;
				margin: 0;
				color: #626262;
				outline: none;
				cursor: pointer;
				font-size:14px;
				color:#000;
			  }
			  
			  
			.sonata-bc .tabbable .nav-list  li.current{
			   background: url('../img/menu-bg-right.png') no-repeat right -38px;
			   border-radius: 0;
			   position: relative;
			}

			.sonata-bc .tabbable .nav-list li.current a {
			   background: url('../img/menu-bg-left.png') no-repeat left -38px;
			   border-radius: 0;

			}
			
			 .media-view-tab {
				
				position: relative;
				top:-20px;
				padding:15px 12px;
				background: #f6f6f6;
				border-radius: 0 3px 3px 3px;
				border: 1px solid #e4e4e4;
				width:auto;
			}	

			.media-edit-tab {
				float:left;
				padding-top:0;
				padding-bottom:7px;
			}	

				.sonata-bc .media-edit-tab .form-actions {
					background:none;
					border:0;
					padding-top:5px;
					padding-bottom:0;
				}
				
				
				
				.sonata-bc .media-edit-tab  .form-horizontal .control-group {
					border-top:1px solid #fff;
					border-bottom:1px solid #e5e5e5;
					margin:0;
				}
					
				.sonata-bc .media-edit-tab  .controls {
					padding:9px 0;
					overflow:hidden;
				}
					.sonata-bc .media-edit-tab  .controls input, .sonata-bc .media-edit-tab  .controls textarea {
						width:500px;
					}
					.sonata-bc .media-edit-tab  .controls input[type='checkbox'] {
						width:15px;
						height:15px;
						margin:0;
						float:left;
					}
				
				.sonata-bc .media-edit-tab  .form-horizontal  .form_wrapper {
					border-bottom:1px solid #fff;
					border-top:0;
					width:670px;
				}
				.sonata-bc .media-edit-tab   .form_wrapper .control-group:first-child {
					border-top:0;
				}
					.sonata-bc .media-edit-tab  .control-label {
						padding-left:5px;
					}
					.media-edit-tab  label {
						line-height:16px;
					}
					.sonata-bc .media-edit-tab .form_wrapper  .control-group:nth-child(1) .control-label {
						padding-top:11px;
					}
					.sonata-bc .media-edit-tab .form_wrapper  .control-group:nth-child(3) .control-label {
						padding-top:11px;
					}
					.sonata-bc .media-edit-tab .form_wrapper  .control-group:nth-child(5) .control-label {
						padding-top:11px;
					}
					.sonata-bc .media-edit-tab .form_wrapper  .control-group:nth-child(6) .control-label {
						padding-top:11px;
					}
					
		.uploader {
			width:700px;
			position: relative;
			float: left;
			overflow: hidden;
			margin:6px 0 8px;
		}	
			.sonata-bc .uploader input {
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				height: 33px;
				border: none;
				width:500px;
			}
			.filename {
				padding: 7px 4px;
				float: left;
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width:393px;
				border:1px solid #CCC;
				font-size:13px;
				line-height:18px;
				border-radius:3px;
				background:#fff;
			}
			.uploader span.action {
				float: left;
				display: inline;
				overflow: hidden;
				cursor: pointer;
				vertical-align: middle;
				font-size: 12px;
				padding: 8px 14px 8px;
				margin-left:6px;
				border-radius:2px;
				color:#333;
				background-position:0 -15px;
				width:71px;
				cursor: pointer;
				display: inline-block;
				background-color: #E6E6E6;
				background-repeat: no-repeat;
				background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#E6E6E6));
				background-image: -webkit-linear-gradient(white, white 25%, #E6E6E6);
				background-image: -moz-linear-gradient(top, white, white 25%, #E6E6E6);
				background-image: -ms-linear-gradient(white, white 25%, #E6E6E6);
				background-image: -o-linear-gradient(white, white 25%, #E6E6E6);
				background-image: linear-gradient(white, white 25%, #E6E6E6);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
				line-height: normal;
				border: 1px solid #CCC;
				border-bottom-color: #BBB;
				border-radius: 4px;
				-webkit-transition: 0.1s linear all;
				-moz-transition: 0.1s linear all;
				-ms-transition: 0.1s linear all;
				-o-transition: 0.1s linear all;
				transition: 0.1s linear all;
				text-align: center;

			}
	.gallery_file_name {
		display:block;
		margin-bottom:5px;
		text-align:left;
	}
		.gallery_actions  {
			text-align:left;
			display:block;
			white-space:nowrap;
			line-height:13px;
			
		}
			.gallery_actions a {
				margin-right:10px;
				font-size:11px;
				position:relative;
				top:-4px;
			}
            
/*table-spisok*/            
.sonata-bc table.table-list th.sonata-ba-list-field-order-active  {
    padding-left: 0;
}            

  
.sonata-bc th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #E5E5E5 100%) repeat scroll 0 0 transparent;
}
 
 .sonata-bc th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #E5E5E5 100%) repeat scroll 0 0 transparent;
}

 .sonata-bc th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active:hover {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #E5E5E5 100%) repeat scroll 0 0 transparent;
 }  
 
 .sonata-bc th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active:hover {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #E5E5E5 100%) repeat scroll 0 0 transparent;
 }
 
 .sonata-bc th.sonata-ba-list-field-header-order-asc .sonata-ba-list-th-a {
    background: url(../img/bullet_arrow_down.png) no-repeat center left;
    padding-left: 16px;
 }
 
  .sonata-bc th.sonata-ba-list-field-header-order-desc .sonata-ba-list-th-a {
    background: url(../img/bullet_arrow_up.png) no-repeat center left;
    padding-left: 16px;
 }
 
  .sonata-bc th.sonata-ba-list-field-header-order-asc .sonata-ba-list-th-a:hover {
    background: url(../img/bullet_arrow_up.png) no-repeat center left;
    padding-left: 16px;
 }
 
 .sonata-bc th.sonata-ba-list-field-header-order-desc .sonata-ba-list-th-a:hover {
    background: url(../img/bullet_arrow_down.png) no-repeat center left;
    padding-left: 16px;
 }

 
  .sonata-bc .sonata-ba-list .table-list tbody tr td.sonata-ba-list-field {
    border-top: none;
 }
 
 .table-list tr th.sonata-ba-list-field-header-batch, .table-list tr td.sonata-ba-list-field-batch {
    text-align: center;
 }
 
 .sonata-bc table.table-list .table-footer td {
    border-right: 0 none;
 }

.table-footer-td-page {
    margin-right: 10px;
}
 
 /*end table-spisok*/
	
	.edit-image-button {
		margin-top:22px;
		margin-bottom:-5px;
	}	
			
	/*user roles*/		
	.user_editable {
		
	}
		 .user_editable  h4 {
			font-size:18px;
			font-weight:normal;
			margin-bottom:15px;
		 }
		 .sonata-bc .controls .user_editable  .inputs-list input[type="checkbox"] {
			width:20px;
			margin-right:5px;
		 }
		 .sonata-bc .form-horizontal .user_editable  label {
			font-weight:bold;
		 }

		 
.sonata-ba-collapsed-fields {

}	
		.sonata-ba-collapsed-fields .control-group {
            overflow: hidden;
			padding:0 20px;
		}
		.sonata-ba-collapsed-fields  .control-label, .sonata-ba-collapsed-fields  .controls {
			display:inline-block;
			vertical-align:top;
			
		}
		
		.sonata-ba-collapsed-fields  .control-label {
			width:20%;
		}
		.sonata-ba-collapsed-fields  .controls {
			width:410px;
		}
		
		


.sonata-bc th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active {
    background-position:0 8px !important;
	padding-left: 15px !important;
}

.sonata-bc th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active {
    background-position: 0 8px !important;
	padding-left: 15px !important;
}

.sonata-bc th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active:hover {
    background-position:0 8px !important;
}

.sonata-bc th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active:hover {
     background-position:0 8px !important;
}	
		
		
.snapshot-buttons {
	margin:15px 0;
}
	
	.snap-icons, .snap-links, .snap-icons span, .loading {
		display:inline-block;
		vertical-align:top;
		
	}
	.loading {
		background:url('../img/loading.gif') no-repeat 0 0;
		width:13px;
		height:13px;
		margin-top:2px;
	}	
	.snap-icons {
		margin-right:10px;
	}	
		.snap-icons span {
			width:16px;
			height:15px;
			background-image:url('../img/snap-icons.png');
			background-repeat:no-repeat;
			margin:3px -5px 0 0;
			
		}
			.snap-test {
				background-position:-6px -66px;
			}
			.snap-test-published {
				background-position:-6px -97px;
			}
			.snap {
				background-position:-6px -7px;
			}
		
			.snap-published {
				background-position:-6px -37px;
			}
			.snap-icons span.snap-del {
				background-position:100px 0;
				text-align:center;
				margin-top:1px;
			}
			
		.sonata-bc .snap-links a {
			text-decoration:underline;
			margin-right:10px;
		}	
	
.snapshop-unpublished .snap-del, .snapshop-unpublished .snap, .snapshop-unpublished .snap-to-unpublish  {display:none;}	
.snapshop-published	  .snap-to-publish {display:none;}

.sonata-collection-add, .sonata-collection-delete {
    display: inline-block;
    width: 16px;
    height: 28px;
    background: url(/bundles/sonataadmin/famfamfam/add.png) no-repeat 50% 50%;
}
.controls .sonata-collection-add, .controls  .sonata-collection-delete {
    position:relative;
    z-index:10;
}

.sonata-collection-delete {
    background-image: url(/bundles/sonataadmin/famfamfam/delete.png);
    float: left;
    margin-top: 5px;
}
	

.sonata-bc th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active {
	display:table-cell;
	border:0;
	margin:0;
	position:static;
}	

.sonata-bc th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active:before,
.sonata-bc th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active:hover:before {
	display:none;
}

.sonata-bc th.sonata-ba-list-field-header-order-desc.sonata-ba-list-field-order-active:before,
.sonata-bc th.sonata-ba-list-field-header-order-asc.sonata-ba-list-field-order-active:hover:before {
	display:none;
}
.sonata-bc img  {
    max-width:1000%;
}

.select2-choices-not-chosen {
    display:inline-block;
    border:0 !important;
    /*border: 3px solid #CE6F6F;*/


   
}
    .select2-container-multi .select2-choices-not-chosen li.select2-search-choice {
        margin-bottom:10px;
        background: #F79992;
        
        border-color:#CE6F6F;
    }
 
/* JCROP LOGO */ 
    
.controls .left {
	margin-top:36px;
}	
.controls .left .options {

	bottom:auto !important;
	top:-30px !important;
}	
.controls  .left > div {
	margin-bottom:10px;
}
.sonata-collection-row {
	
}
.sonata-collection-row .sonata-collection-delete, .sonata-collection-row .sonata-collection-add {
	position:relative;
	z-index:10;
	top:15px;
	left:-10px;
}
.sonata-bc .tab-content .controls div div .input input{
	width:210px;
}
.jcrop-remove {
    width:16px !important;
    height:16px !important;
    background:url(/bundles/sonataadmin/famfamfam/delete.png) no-repeat 0 0 !important;
    margin-right:10px !important;
    margin-top:4px !important;
}

    